/*Each of these only specifies changes in colour, not of font etc. (except for .choice-box)*/
.background {
    -fx-background-color: #004444; /* Default background color (teal) */
}

/* Labels */
.display-label {
    -fx-text-fill: white; /* White text for all labels */
}

/* Buttons */
.truth-button {
    -fx-background-color: #5555cc; /* Deep blue background */
    -fx-text-fill: white;          /* White text */
    -fx-border-color: white;       /* Black border */
}

.dare-button {
    -fx-background-color: #cc5555; /* Deep red background */
    -fx-text-fill: white;          /* White text */
    -fx-border-color: white;       /* Black border */
}

/*Choice boxes*/
.choice-box-label {
    -fx-text-fill: white;
}

.choice-box {
    -fx-background-color: #0e0044;
    -fx-background-radius: 10;
}
.choice-box .label {
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic Bold";
    -fx-font-size: 12px;
}
.choice-box .context-menu {
    -fx-background-color: #0e0044;
}